.b-form {
  border: 1px solid rgb(173, 170, 170);
  border-radius: 4px;
  padding: 16px;
}

.b-row {
  display: flex;
  row-gap: 12px;
}

.card {
  background-color: rgb(245, 245, 248);
}

.card-table {
  background-color: white;
}
